body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

.container {
    position: relative;
    z-index: 2;
    margin-top: 100px;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}